<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>HACKATHON</title>
  </head>
  <body>
    <div class>

      <img src="qr.jpg" alt="QR" style="border:0 ">

      <input type="file"   placeholder="Upload payment*" value="" name="qr_photo" />
      
      <a href="/booked" class="btn btn-danger">Submit</a></div>
    </div>
  </body>
</html>