<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title></title>
  </head>
  <body>
    <div class="cotn_principal">
<div class="cont_centrar">

  <div class="cont_login">
<div class="cont_info_log_sign_up">
      <div class="col_md_login">
<div class="cont_ba_opcitiy">

        <h2>LOGIN</h2>

  <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
  </div>
  </div>
<div class="col_md_sign_up">
<div class="cont_ba_opcitiy">
  <h2>SIGN UP</h2>


 

  <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
</div>
  </div>
       </div>


    <div class="cont_back_info">
       <div class="cont_img_back_grey">
       <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
       </div>

    </div>
<div class="cont_forms" >
    <div class="cont_img_back_">
       <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
       </div>
 <div class="cont_form_login">
<a href="#" onclick="ocultar_login_sign_up()" ><i class="material-icons">&#xE5C4;</i></a>
   <h2>LOGIN</h2>
   <form class="" action="/driverlogin" method="post">
    <input type="number" placeholder="Phoneno" name="login_phoneno" />
    <input type="password" placeholder="Password" name='login_password'/>
<input type="submit" name="LOG_IN" value="LOG_IN" >
</form>
  </div>

   <div class="cont_form_sign_up">
<a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
     <h2>SIGN UP</h2>
     <form action="/driver" method="POST">
     <div class="row register-form">
     <div class="form-group">
        <input type="text" class="form-control" placeholder="First Name *" value="" name="firstname" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Last Name *" value="" name="lastname" />
    </div>
    
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password *" value="" name="password" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control"  placeholder="Confirm Password *" value="" name="confirmpassword" />
    </div>
    
    <div class="form-group">
        <input type="text" class="form-control"  placeholder="City *" value="" name="city" />
    </div>
    
    <div class="form-group">
        <input type="number" class="form-control"  placeholder="Pincode *" value="" name="pincode" />
    </div>
    <div class="form-group">
        <input type="number" class="form-control"  placeholder="Phone no *" value="" name="phoneno" />
    </div>
    
    
    <div class="form-group">
        <input type="text" class="form-control"  placeholder="License number *" value="" name="license_no" />
    </div>
    
    <div class="form-group">
        <input type="file" class="form-control"  placeholder="license_photo *" value="" name="license_photo" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control"  placeholder="insurance_policy_no *" value="" name="insurance_policy_no" />
    </div>
    
    
    <div class="form-group">
        <input type="file" class="form-control"  placeholder="truck_photo:*" value="" name="truck_photo" />
    </div>
    <select class="form-control" required name="type_of_truck" >
      <option value="" selected hidden>Type of Vehicle:</option>
      <option>Mini Truck,Capacity:750kg</option>
      <option>Pickup Truck,Capacity:850kg</option>
      <option>Pickup Truck,Capacity:1ton</option>
      <option>Tipper Truck,Light,Capacity:2ton-16ton</option>
      <option>Tipper Truck,Medium,Capacity:16ton-31ton</option>
      <option>Tipper Truck,Large,Capacity:31ton-45ton</option>
   </select>
    
   
    


    

   
<button class="btn_sign_up" onclick="cambiar_sign_up()" value="driver">SIGN UP</button>

  </div></form></div>

    </div>

  </div>
 </div>
</div>
<script src="front.js" charset="utf-8"></script>
  </body>
</html>
